html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body{
	max-width:100%;
}

nav{
	width:100%;
	height:80px;
	background:rgba(0,0,0,0.9);
	color:black;
	font-size: 40px;
	font-weight: bold;
	line-height:80px;
}
.banner{
	width:70%;
	margin:0 auto;
}
.banner ul{
	float:right;
	list-style:none;
}
.banner ul li{
	float:left;
	padding:0 20px;
	transition:background 1s ease;
}

.banner a{
	font-size:20px;
	color:#fff;
	text-decoration:none;
	font-family:Microsoft JhengHei;
	font-weight: bold;
}

.banner a font{
	color:white;
	font-family:Microsoft JhengHei;
	font-size:40px;
	
}
.banner ul li a{
	width:30px;
}

.banner ul li:hover{
	background:rgba(255,255,255,0.2);
	text-decoration:none;
}

.content{
	width:80%;
	margin:auto;
	margin-top:10px;
	padding:20px 10px 20px 10px;
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.33);
}
.content h1{
	padding-top:10px;
	padding-bottom:10px;
	font-size:35px;
	color:#a134f6;
}
td{
	font:20px bold Microsoft JhengHei;
	text-decoration:none;
}
.focus{
	border:1px double blue;
}

.content h2{
	font:40px bold Microsoft JhengHei;
	text-indent:30%;
	color:white;
	background-image: url(title.png);
	background-size:cover;
	box-shadow:5px 6px rgba(0, 0, 0, 0.6);
    width: 300px;
    height: 70px;
	line-height:70px;    
}

.sight1{
	margin:20px 0;
	background: url(3d.jpg) center center fixed;
	height:500px;
	position:relative;
}
.sight2{
	margin:20px 0;
	background: url(漁市.jpg) center center fixed;
	background-size:80%;
	height:500px;
	position:relative;
}
.sight3{
	margin:20px 0;
	background: url(highheel.jpg) center center fixed;
	background-size:80%;
	height:500px;
	position:relative;
}
.sight4{
	margin:20px 0;
	background: url(鹽場.jpg) center center fixed;
	height:500px;
	background-size:80%;
	position:relative;
}
.sight5{
	margin:20px 0;
	background: url(濕地.jpg) center center fixed;
	height:500px;
	position:relative;
}

.sightname_odd{
	padding:0 15px;
	font-family: Microsoft JhengHei;
    font-size: 40px;
    color: #362b2c;
    font-style: italic;
    text-shadow: white 2px 0px, white -2px 0px, white 0px -2px, white 0px 2px, white 2px 2px, white -2px 2px, white 2px -2px, white -2px -2px, white 1px 2px, white -1px 2px, white 1px -2px, white -1px -2px, white 2px 1px, white -2px 1px, white 2px -1px, white -2px -1px;
	position:absolute;
	bottom:100px;
	right:0;
}
.sightname_even{
	padding:0 15px;
	font-family: Microsoft JhengHei;
    font-size: 40px;
    color: #362b2c;
    font-style: italic;
    text-shadow: white 2px 0px, white -2px 0px, white 0px -2px, white 0px 2px, white 2px 2px, white -2px 2px, white 2px -2px, white -2px -2px, white 1px 2px, white -1px 2px, white 1px -2px, white -1px -2px, white 2px 1px, white -2px 1px, white 2px -1px, white -2px -1px;
	text-align:right;
	position:absolute;
	bottom:100px;
}
.comment{
	background-color:rgba(0,0,0,0.7);
	color: #ffffff;
    font-size: 18px;
	text-align:right;
    text-shadow: 0 2px 2px #000000;
	padding:0 100px;
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
}
.sight_nav{
	position:fixed;
	bottom:150px;
	right:0;
}
.sight_nav ul{
	list-style:none;
}
.sight_nav ul li{
	margin:5px 0;
	background-color:rgba(0,0,0,0.9);
	transition: background-color 0.5s ease;
}
.sight_nav ul li a{
	color: #ffffff;
    font-size:20px;
	text-align:center;
	text-decoration:none;
}

.sight_nav ul li:hover{
	background-color:rgba(0,0,0,0.4);
}

.btt{
	font:15px bold Microsoft JhengHei;
	width:80px;
	height:30px;
	background-color:rgb(255,160,0);
	border:0;
	border-radius:10px;
	cursor:pointer;
}
.ds_wallp{
	display:block;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.3);
}
.ds_outer{
	display:table;
	position:relative;
	width:100%;
	height:100%;
}
.ds_inner{
	display: table-cell;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding: 0 25px;
}
.ds_container{
	max-width:600px;
	position:relative;
	display: inline-block;
	padding:0;
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
	cursor:auto;
	box-sizing: border-box;
	box-shadow:3px 0 #fff,-3px 0 #fff,0 3px #fff,0 -3px #fff,0 0 0 6px #af3f00;
}
.ds_1{
	padding:0 15px;
	overflow-Y:scroll;
	height:25em;
}
.ds_1 dl dt{
	font-size:20px;
	padding:50px 10px 5px;
	margin-bottom:10px;
}
.ds_1 dl dd{
	font-size:17px;
	padding-bottom:30px;
}
.bx{
	position:absolute;
	left:80%;
	height:0;
	font-size:60px;
	border:0;
	outline:none;
	background:rgba(0,0,0,0);
	cursor:pointer;
}



#t2{
	font:30px bold Microsoft JhengHei;
	text-indent:20%;
	color:white;
	background-color:orange;
	background-size:cover;
	box-shadow:5px 6px rgba(0, 0, 0, 0.6);
    width: 200px;
    height: 70px;
	line-height:70px;    
}
:root {
	--color-gold: #B99362;
}
svg{
	height: 80%;
	width: 80%;

}

path {
	stroke: white;
	fill:  #c3c3c3;
    transition: 0.5s;
    cursor: pointer;
}
#budai{
	fill:#FF88C2;
}
#budai:hover{
	fill:#ffff4a;
}
path:hover {
    fill: var(--color-gold);
    transform: translate(-5px, -5px);
}
#wh h3{
	font:30px bold Microsoft JhengHei;
}




